table {
    width: 100%;
    border-collapse: separate;
    position: relative;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 6px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
    
  }
  